body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("../image/client.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

body {
  background-color: black;
  font-family: cursive;
}

.glow {
  font-size: 80px;
  color:#fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #524c4f, 0 0 40px #5c5aa7, 0 0 50px #8b85d3, 0 0 60px #80777d, 0 0 70px #14060d;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1b1a1b, 0 0 40px #0f0209, 0 0 50px #7b8cb9, 0 0 60px #f8f0f4, 0 0 70px #eecede, 0 0 80px #9b9799;
  }
}